.header {
  display: flex;
  padding: 8px;
  background-color: white;
}

.profile {
  display: grid;
  grid-template-areas: 
    "avatar drop name"
    "avatar drop welcome";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 4rem 3.5rem max-content;
  align-items: center;
}

.profile :nth-child(1) {
  grid-area: avatar;
  height: 90%;
  justify-self: end;
}

.profile :nth-child(2){
  grid-area: drop;
  height: 45%;
  justify-self: start;
}

.profile :nth-child(3){
  grid-area: name;
  font-size: 1.5rem;
}

.profile :nth-child(4){
  grid-area: welcome;
  font-size: 1rem;
}