/* Box sizing rules */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1, h2, h3, h4, h5, h6,
p,
ol, ul {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ol, ul {
  list-style: none;
}

/* Remove default font styles for some elements */
body {
  font-family: Arial, sans-serif;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove outline on focused elements for accessibility */
a:focus,
button:focus {
  outline: none;
}

/* Set default styles for images to ensure responsiveness */
img {
  max-width: 100%;
  height: auto;
}
