@font-face {
  font-family: 'Sahel';
  src: url('./assets/fonts/Sahel.woff2') format('woff2'),
      url('./assets/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Sahel.ttf') format('truetype');
}
@font-face {
  font-family: 'vazir';
  src: url(./assets/fonts/Vazir.eot), url(./assets/fonts/Vazir.woff);
}
@font-face {
  font-family: 'yekan';
  src: url(./assets/fonts/Yekan.woff2), url(./assets/fonts/Yekan.ttf);
}
@font-face {
  font-family: 'yekan boom';
  src: url(./assets/fonts/Yekan\ Boom.woff2), url(./assets/fonts/Yekan\ Boom.ttf);
}
@font-face {
  font-family: 'yekan per';
  src: url(./assets/fonts/Persian-Yekan.ttf);
}
@font-face {
  font-family: 'rubik';
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'noto naskh';
  src: url(./assets/fonts/NotoNaskhArabic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'vazirmatn';
  src: url(./assets/fonts/Vazirmatn-VariableFont_wght.ttf);
}


html {
  box-sizing: border-box;
  direction: rtl;
}

#root {
  height: 100svh;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* font-family: 'Sahel' !important; */
  /* font-family: 'yekan', sans-serif !important; */
  font-family: 'vazir' !important;
}
